In [1]:
import pandas as pd
import sqlite3
import numpy as np
import random
import datetime
#import matplotlib as plt
from matplotlib import pyplot as plt

In [3]:
db_yahoo = '/home/ian/Data/yahoo.db'
database_yahoo = sqlite3.connect(db_yahoo)
yahoo_string = '''SELECT * FROM divs;'''

df_yahoo = pd.read_sql_query(yahoo_string, database_yahoo)
                       
db_advfn = '/home/ian/Data/advfn.db'
database_advfn = sqlite3.connect(db_advfn)

advfn_string = '''SELECT company_ticker, report_date, `Basic EPS (Continuing)` as eps FROM quarterly_reports;'''

df_advfn = pd.read_sql_query(advfn_string, database_advfn)

In [9]:
df_advfn['symbol'] = df_advfn['company_ticker'].apply(lambda x: x.replace('.', '-'))

In [11]:
df_advfn['symbol'].unique()

array(['AAV', 'ABX', 'AC', 'ACB', 'ACO-X', 'AD', 'AEM', 'AGI', 'AIF',
       'ALA', 'AP-UN', 'APH', 'AQN', 'ARE', 'ARX', 'ASR', 'ATA', 'ATD-B',
       'AX-UN', 'BAD', 'BAM-A', 'BB', 'BBD-B', 'BBU-UN', 'BCB', 'BCE',
       'BEI-UN', 'BEP-UN', 'BHC', 'BIP-UN', 'BIR', 'BLX', 'BMO', 'BNS',
       'BPY-UN', 'BTE', 'BTO', 'BYD-UN', 'CAE', 'CAR-UN', 'CAS', 'CCA',
       'CCL-B', 'CCO', 'CEU', 'CFP', 'CG', 'CGX', 'CHE-UN', 'CHP-UN',
       'CHR', 'CIGI', 'CIX', 'CLS', 'CM', 'CMG', 'CNQ', 'CNR', 'CP',
       'CPG', 'CPX', 'CRR-UN', 'CSH-UN', 'CSU', 'CTC-A', 'CU', 'CUF-UN',
       'CVE', 'CWB', 'D-UN', 'DGC', 'DII-B', 'DOL', 'DOO', 'DRG-UN',
       'DSG', 'ECA', 'ECN', 'EDV', 'EFN', 'EFX', 'EIF', 'ELD', 'EMA',
       'EMP-A', 'ENB', 'ENGH', 'ERF', 'ESI', 'EXE', 'FCR', 'FFH', 'FM',
       'FNV', 'FR', 'FRU', 'FSV', 'FTS', 'FTT', 'FVI', 'G', 'GC', 'GEI',
       'GIB-A', 'GIL', 'GOOS', 'GRT-UN', 'GTE', 'GUD', 'GUY', 'GWO', 'H',
       'HBC', 'HBM', 'HCG', 'HR-UN', 'HSE', 'IAG', 'IFC', 'IFP', 'IGM',
       'IIP-UN', 'IMG', 'IMO', 'INE', 'IPL', 'ITP', 'IVN', 'K', 'KEL',
       'KEY', 'KL', 'KML', 'KMP-UN', 'KXS', 'L', 'LB', 'LIF', 'LNR',
       'LUC', 'LUN', 'MAG', 'MAXR', 'MEG', 'MFC', 'MFI', 'MG', 'MIC',
       'MNW', 'MRE', 'MRU', 'MSI', 'MTL', 'MTY', 'MX', 'NA', 'NFI', 'NG',
       'NGD', 'NPI', 'NSU', 'NTR', 'NVA', 'NVU-UN', 'NWC', 'NXE', 'OGC',
       'ONEX', 'OR', 'OSB', 'OTEX', 'PAAS', 'PBH', 'PD', 'PEY', 'PKI',
       'POU', 'POW', 'PPL', 'PSI', 'PSK', 'PVG', 'PWF', 'PXT', 'QBR-B',
       'QSR', 'RBA', 'RCH', 'RCI-B', 'REI-UN', 'RNW', 'RUS', 'RY', 'SAP',
       'SCL', 'SES', 'SHOP', 'SIA', 'SJ', 'SJR-B', 'SLF', 'SMF', 'SNC',
       'SPB', 'SRU-UN', 'SSL', 'SSRM', 'STN', 'SU', 'SW', 'T', 'TA',
       'TCL-A', 'TCN', 'TCW', 'TD', 'TECK-B', 'TFII', 'THO', 'TIH', 'TOG',
       'TOU', 'TOY', 'TRI', 'TRP', 'TRQ', 'TSGI', 'TVE', 'TXG', 'UNS',
       'VET', 'VII', 'WCN', 'WCP', 'WEED', 'WEF', 'WFT', 'WJA', 'WN',
       'WPK', 'WPM', 'WSP', 'WTE', 'X', 'YRI', 'ZZZ'], dtype=object)

In [16]:
df_yahoo['parsed_date'] = df_yahoo['Date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
df_yahoo.head(2)

  symbol        Date  Dividends parsed_date
0    ABX  2018-12-27       0.07  2018-12-27
1    ABX  2018-11-29       0.03  2018-11-29

In [18]:
df_advfn['parsed_date'] = df_advfn['report_date'].apply(lambda x: datetime.datetime.strptime(x, '%Y/%m'))
df_advfn.head(2)

  company_ticker report_date   eps symbol parsed_date
0            AAV     2017/06  0.10    AAV  2017-06-01
1            AAV     2017/09  0.07    AAV  2017-09-01

In [26]:
df_merge = pd.concat([df_advfn[['symbol', 'parsed_date', 'eps']], df_yahoo[['symbol', 'parsed_date', 'Dividends']]])
df_merge.head(5)

/home/ian/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   Dividends   eps parsed_date symbol
0        NaN  0.10  2017-06-01    AAV
1        NaN  0.07  2017-09-01    AAV
2        NaN  0.11  2017-12-01    AAV
3        NaN  0.05  2018-03-01    AAV
4        NaN -0.08  2018-06-01    AAV

In [32]:
df_merge.sort_values(by = ['symbol','parsed_date','Dividends'], ascending = [True, False, False], inplace = True )
df_merge[['symbol', 'parsed_date', 'eps', 'Dividends']]

      symbol parsed_date   eps  Dividends
15463    AAV  2018-09-01 -0.05        NaN
4        AAV  2018-06-01 -0.08        NaN
3        AAV  2018-03-01  0.05        NaN
2        AAV  2017-12-01  0.11        NaN
1        AAV  2017-09-01  0.07        NaN
0        AAV  2017-06-01  0.10        NaN
67       AAV  2017-03-01  0.23        NaN
66       AAV  2016-12-01 -0.05        NaN
65       AAV  2016-09-01  0.04        NaN
64       AAV  2016-06-01 -0.16        NaN
63       AAV  2016-03-01  0.08        NaN
62       AAV  2015-12-01  0.07        NaN
61       AAV  2015-09-01  0.04        NaN
60       AAV  2015-06-01 -0.01        NaN
59       AAV  2015-03-01  0.02        NaN
58       AAV  2014-12-01  0.32        NaN
57       AAV  2014-09-01  0.08        NaN
56       AAV  2014-06-01  0.14        NaN
55       AAV  2014-03-01 -0.10        NaN
54       AAV  2013-12-01 -0.03        NaN
53       AAV  2013-09-01 -0.01        NaN
52       AAV  2013-06-01  0.05        NaN
51       AAV  2013-03-01 -0.03        NaN
50       AAV  2012-12-01 -0.36        NaN
49       AAV  2012-09-01 -0.02        NaN
48       AAV  2012-06-01 -0.10        NaN
47       AAV  2012-03-01 -0.06        NaN
46       AAV  2011-12-01 -0.87        NaN
45       AAV  2011-09-01 -0.02        NaN
44       AAV  2011-06-01  0.01        NaN
...      ...         ...   ...        ...
15178    YRI  1997-08-01 -1.11        NaN
15177    YRI  1997-05-01 -1.67        NaN
17552    ZZZ  2019-02-14   NaN      0.185
15426    ZZZ  2018-12-01  0.36        NaN
17547    ZZZ  2018-11-16   NaN      0.185
15262    ZZZ  2018-09-01  0.64        NaN
17553    ZZZ  2018-08-17   NaN      0.185
15261    ZZZ  2018-06-01  0.33        NaN
17546    ZZZ  2018-05-18   NaN      0.185
15260    ZZZ  2018-03-01  0.28        NaN
17551    ZZZ  2018-02-15   NaN      0.165
15259    ZZZ  2017-12-01  0.39        NaN
17554    ZZZ  2017-11-24   NaN      0.165
17545    ZZZ  2017-11-16   NaN      0.165
15258    ZZZ  2017-09-01  0.61        NaN
17550    ZZZ  2017-08-16   NaN      0.165
15269    ZZZ  2017-06-01  0.30        NaN
17544    ZZZ  2017-05-17   NaN      0.165
15268    ZZZ  2017-03-01  0.27        NaN
17549    ZZZ  2017-02-15   NaN      0.150
15267    ZZZ  2016-12-01  0.30        NaN
17543    ZZZ  2016-11-16   NaN      0.150
15266    ZZZ  2016-09-01  0.57        NaN
17556    ZZZ  2016-08-12   NaN      0.150
15265    ZZZ  2016-06-01  0.26        NaN
17542    ZZZ  2016-05-18   NaN      0.130
15264    ZZZ  2016-03-01  0.19        NaN
17555    ZZZ  2016-02-11   NaN      0.130
15263    ZZZ  2015-12-01  0.23        NaN
17548    ZZZ  2015-11-12   NaN      0.130

[33099 rows x 4 columns]